@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body
{
    height: 100vh;
    margin: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6d6;
}

#pokedex
{
    width: 22rem;
    height: 34rem;
    background: rgb(116, 203, 72);
    border-radius: 8px;
    padding: 0.3rem;

}

#top
{
    height: 40%;
    padding: 0.5rem;
    background: url(./img/pokeball.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

#top-bar
{   
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;


}



#search
{   
    width: 70%;
    color: #fff;
    background:none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    
  
}

#search:focus
{
    outline: none;
}

#number
{
    cursor: default;
}

#poke-image-placeholder
{
    display: flex;
    justify-content: center;
}

#pokemon-image
{   

    width: 200px;
    height: 200px;
    transform: translateY(3.3rem);

}


#data
{
    height: 60%;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#types
{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.type
{
    color: white;
    padding:0.27rem 0.6rem ;
    border-radius: 15px;
    font-size: 0.8rem;
    cursor:default;
}

#data h4
{
    text-align: center;
    text-transform: capitalize;    
}

#stats
{
    width: 80%;
    font-size: 0.8rem;
    gap: 0.5rem;
    cursor: default;

}

.stat-row{
    display: flex;

  
}

.stat-desc
{
    color: rgb(116, 203, 72);
    font-weight: bold;
    text-align: right;
    padding-right: 0.5rem;
    border-right: 1px solid gray;
}

.stat-number, .stat-desc
{
    width: 15%;
}

.stat-number
{
    padding-left: 0.6rem;
}
.stat-bar
{
    width: 70%;
    display: flex;
    align-items: center;
}
.bar-outer
{
    background-color: rgb(116, 203, 72, 0.3);
    display: flex;
    width: 100%;
    height: 0.3rem;
    border-radius: 4px;

}

.bar-inner
{
    background-color: rgb(116, 203, 72);
    border-radius: 4px;

}