@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;    
    background-color: #d6d6d6;
    overflow: hidden;
}
/* ================       Pokedex        ===============*/
#pokedex
{
    width: 22rem;
    height: 34rem;
    padding: 0.3rem;    
    background: rgb(116, 203, 72);
    border-radius: 8px;
    transition: background-color 0.5s ease-in-out ;
}

#top
{
    height: 40%;
    padding: 0.5rem;
    background: url(./img/pokeball.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

#top-bar
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    color: white;
    width: 100%;
}

.searchBar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    padding: 0 5px;
    width: 70%;
}



#search
{   
    width: 90%;
    color: #fff;
    background:none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

#search:focus
{
    outline: none;
}

#number
{
    cursor: default;
}

#poke-image-placeholder
{
    display: flex;
    justify-content: center;
}

#pokemon-image
{   

    width: 200px;
    height: 200px;
    transform: translateY(3.3rem);
}


#data
{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    background-color: #fff;
    border-radius: 8px;
}

#types
{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.type
{
    padding:0.27rem 0.6rem ;
    color: white;
    border-radius: 15px;
    font-size: 0.8rem;
    text-transform: capitalize;
    cursor:default;
}

#base-stat
{
    text-align: center;
    text-transform: capitalize; 
    transition: color 0.5s ease-in-out;   
}

#stats
{
    width: 80%;
    gap: 0.5rem;
    font-size: 0.8rem;
    cursor: default;

}

.stat-row
{
    display: flex;
}

.stat-desc
{
    margin-right: 0.6rem;

    color: rgb(116, 203, 72);
    font-weight: bold;
    text-align: right;
    transition: color 0.5s ease-in-out;

}

.stat-number, .stat-desc
{
    width: 13%;
}

.stat-number
{
    padding-left: 0.4rem;
    border-left: 1px solid gray;
    text-align: center;
}
.stat-bar
{
    width: 76%;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
}

.bar-outer
{
    width: 100%;
    height: 0.3rem;
    display: flex;
    background-color: rgb(116, 203, 72, 0.3);
    border-radius: 4px;
    transition:  0.5s ease-in-out;
}

.bar-inner
{
    background-color: rgb(116, 203, 72);
    border-radius: 4px;
    transition:  0.5s ease-in-out ;
}

/* ================       Aside        ===============*/
    aside{
        display: none;
    }
/* ================    instructions    ===============*/

.instructions{
    position: absolute;
    top: 0;
    right: -24rem;
    margin: 20px;
    height: calc(100% - 40px);
    width: 22em;
}

.ballon-instruc{
    right: 0;
    background-color:  rgba(116, 203, 72, 0.589);
    position: relative;
    margin: 5px;
    padding: 20px 10px 8px 5px;
    border-radius: 8px;
    transition: all 1s ease-out;
}

.ballon-instruc a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.closeBtn i{

    color: rgba(201, 9, 9, 0.63);
    border-radius: 50%;
    background-color: #fff;
    padding: 4px 5px;

}

.fa-circle-info {
    color: #fff;
    font-size: 20px;
    padding-right: 5px;

}

.ballon-instruc p {
    font-weight: lighter;
    font-size: .9rem;
    margin: 5px;
    color: #fff;
}


/* ================       Controlers        ===============*/

#controlers
{
    position: absolute;
    top: 50%;
    left: 50%;
    width:29rem;
    height: 2rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
}

#controlers .controlers-btn
{
    cursor: pointer;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    color: #fff;
    transition: scale 0.5s ease-in-out;

}

#controlers .controlers-btn:active{
    transform: scale(1.1);
    transition: scale 0.5s ease-in-out;
}

/* ================       Midia Query        ===============*/

@media(max-width: 470px) {
    #pokedex
    {
        width: 16rem;
        height: 28rem;
    }
    #data
    {
        padding-top: 4rem;
    }
    #pokemon-image
    {   
        width: 160px;
        height: 160px;
        transform: translateY(2rem);

    }
    #base-stat
    {
        margin: .5rem 0;
    }
    #controlers
    {
        width:20.7rem;
        height: 2rem;
        padding: 0 0.5rem;
    }
    #controlers .controlers-btn
    {
        cursor: pointer;
        background-color: white;
        padding: 0 0.5rem;
        border-radius: 50%;
    }
}

@media(min-width: 980px){
    aside{
        display: block;
    }
}

@media(max-width: 1200px){
    .instructions{
        width: 15rem;
    }
}

